*{
    	margin: 0;
	padding: 0;
	border: 0;
}
body{
    height: 100vh;
    width: 100%;
    background-color: #0C0C10;
    display: flex;
    flex-direction: column;
} 
.dd{
    background-color: aqua;
    width: 100px;
    height: 50%;
}

.nav-bar{
    width: 70%;
    height: 50px;
    position: relative;
    align-self: center;
    background-color: #05050A;
    border: 1px solid #10141A;
    box-shadow: 0.5px 0.5px 0.5px 0.5px #10141A;
}


.foo-ter{
    width: 99%;
    height: 50px;
    background-color: #05050A;
    border: 1px solid #10141A;
    box-shadow: 0.5px 0.5px 0.5px 0.5px #10141A;   
    position: relative;
    align-self: end;
}



.cont-ent{
    width: 65%;
    height: 70%;
    position: relative;
    align-self: center;
    margin: 50px;
    border: 1px solid #10141A;
}
.hero{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows:    repeat(8, 1fr);
}
.span1{
    background-color: #140f1e;
    grid-area: 1 /1/5/ -1;
    border-radius:3%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    align-content: space-between;
    text-align: center;
}
.section1{
    position: relative;
    justify-items: start;
    left: 50%;

}
.p-icon{
    color: #208D3E;
    font-size: 35px;
}
.p-text{
    color: gray;
    font-size: 8px;
}
.span2{
    grid-area: 5 /1/6/ -1;
    border-radius:3%;
    margin-bottom: 10px;
    display: flex;

}
.p2{
    background-color: #140f1e;
    border: 1px solid gray;
    border-end-start-radius: 35%;
    border-end-end-radius: 35%;
    border-top-right-radius: 35%;
    border-top-left-radius: 35%;
    padding: 10px 10px 10px 10px;
    align-self: center;
    margin-right: 10px;
}
.span3{
    grid-area: 6 /1/8/ -1;
    border-radius:3%;
    margin-bottom: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:    repeat(7, 1fr);

}

.section2in2{
    height: 100%;
    width: 90%;
    border: 2px solid #1f2a3a;
    box-shadow: 0.5px 0.5px 0.5px 0.5px #10141A;
    grid-row: 1/-1;
    display: grid;
}

.span4{
    background-color: #140f1e;
    grid-area: 8 /1/9/ -1;
    border-radius:3%;

}



html {  
  overflow: hidden;
  height: 100%;
  background: radial-gradient(hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 1)),
    linear-gradient(90deg, dimgrey 1px, transparent 1px), 
    linear-gradient(dimgrey 1px, grey 1px);
  background-size: 100%, 2px 1px, 1px 2px;
}
.radar, .sweep { position: absolute; }
.radar {
  overflow: hidden; 
  top: 7%; left: 3%;
  /* margin: -117px; */
  width: 250px; height: 250px;
  border-radius: 50%;
  box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.5),
    inset 0 0 0 1px hsla(0, 0%, 100%, 0.15);
  background: 
    repeating-radial-gradient(transparent 0 23px, #287a33 24px 26px, #0000 27px), 
    linear-gradient(transparent 49.75%, #0e4c42 0 50.25%, transparent 0) 50% no-repeat,
    linear-gradient(90deg, transparent 49.75%, #0e4c42 0 50.25%, transparent 0) 50% no-repeat,
    linear-gradient(#333, #111);
  background-size: 100%, 218px 218px, 218px 218px, 100%;
  
}
.sweep {
  box-sizing: border-box;
  top: 16px; left: 16px;
  border-right: solid 1px hsla(145, 50%, 40%, .3);
  width: 108px; height: 108px;
  border-radius: 100% 0 0 0;
  transform-origin: 100% 100%;
  background: linear-gradient(50deg, rgba(34, 34, 34, 0) 56%, hsla(145, 50%, 40%, 1));
  animation: sweep 5s infinite linear;
}
@keyframes sweep { to { transform: rotate(360deg); } }