.container{
    background-color: #0C0C10;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;

}

.navbar{
    width: 70%;
    height: 50px;
    background-color: #05050A;
    border: 1px solid #10141A;
    box-shadow: 0.5px 0.5px 0.5px 0.5px #10141A;
}